Repository spe-uob/2020-HealthcareLake, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, infrastructure, devops

Added path change
  .circleci/config.yml
Labels: devops

Added build status badge
  README.md
Labels: none

Added webhook notifications
  .circleci/config.yml
Labels: devops

Added FOSSA status
  README.md
Labels: none

Removed unnecessary comparison table
  .gitignore
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Fixes formatting
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added devops workflow diagram
  docs/images/DevOpsWorkflow.png
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added devops tools
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Updated lambda diagram
  docs/images/Lambda.png
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added new subheadings
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Delete aws_architecture.pdf
  docs/aws_architecture.pdf
Labels: documentation

Added data ingestion description
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Updated subheadings
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added network architecture section
  docs/images/Network.png
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Re-compiled pdf
  docs/solution-architecture.pdf
Labels: documentation

Update subheading
  docs/solution-architecture.tex
Labels: documentation

added ethics
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Adds API Management Paragraph
  docs/solution-architecture.tex
Labels: documentation

Build PDF
  docs/solution-architecture.pdf
Labels: documentation

Updated to biber backend
  docs/references.bib
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Restores Ethics
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

added AWS Glue
  docs/images/PopulateCatalog-overview.png
  docs/references.bib
  docs/solution-architecture.tex
Labels: documentation

image error fix
  docs/solution-architecture.tex
Labels: documentation

Updates from Overleaf
  docs/solution-architecture.tex
Labels: documentation

added AWS Glue
  docs/solution-architecture.pdf
Labels: documentation

Added 3.2 overview
  docs/references.bib
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added hyperrefs
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

API details
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added networking section
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added a bit on frameworks
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Update README.md
  README.md
Labels: none

Added section 4.2.4(S3) and 4.3(Data warehousing)
  docs/images/Redshift-Architecture.png
  docs/images/S3-Intelligent-Tiering.png
  docs/references.bib
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

error fix
  docs/solution-architecture.tex
Labels: documentation

Merged branch docs/testing
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Added ETL section #73
  docs/images/AWSAnalyticsPipeline.png
  docs/images/AWSWorkflow.png
  docs/references.bib
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Trimmed KMS
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

added databrew
  docs/images/databrew-overview-diagram.png
  docs/references.bib
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

typo fix
  docs/solution-architecture.tex
Labels: documentation

added Databricks integration
  docs/images/AWS-Data-Lake-Architecture-light-BG.png
  docs/references.bib
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

Slimmed down S3
  docs/solution-architecture.pdf
  docs/solution-architecture.tex
Labels: documentation

.github/labeler.yml:

documentation:
  - docs/*

infrastructure:
  - infra/*

devops:
  - .circleci/*
