Repository spe-uob/2020-HealthcareLake, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, infrastructure, devops, api

Update .gitattributes
  .gitattributes
Labels: none

Update README.md
  README.md
Labels: none

Added api setup
  .gitignore
  api/handler.js
  api/serverless.yml
Labels: api

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Update README.md
  README.md
Labels: none

Removed network config
  infra/main.tf
  infra/modules/emr/main.tf
  infra/modules/emr/output.tf
  infra/modules/emr/variables.tf
  infra/modules/glue/main.tf
  infra/modules/glue/output.tf
  infra/modules/glue/variables.tf
  infra/modules/s3/main.tf
  infra/modules/s3/output.tf
  infra/modules/s3/variables.tf
  infra/network.tf
  infra/output.tf
  infra/variables.tf
Labels: infrastructure

.github/labeler.yml:

documentation:
  - docs/*

infrastructure:
  - infra/*

devops:
  - .circleci/*

api:
  - api/*
